:host {
    padding: 50px 25px;
    padding-top: 100px;
    display: flex;
    flex-flow: column;

    .total {
        font-size: 24px;
        font-weight: 300;      
    }

    .info {
        margin: 8px;
        display: flex;
        flex-flow: row;
        align-items: center;
        font-size: 14px;
        font-weight: 300;
        color: #b0b0b0;
        max-width: 230px;

        img {
            margin-left: 10px;
            opacity: 0.25;
        }
    }

    .counter {

        display: flex;
        flex-flow: column;
        margin-top: 25px;
        margin-bottom: 10px;
    
        .number {
            font-size: 48px;
            font-weight: normal;
        }

        .text {
            display: flex;
            flex-flow: row;
            align-items: center;

            label {
                font-size: 20px;
                font-weight: normal;
                color: #b0b0b0;
            }

            i {
                margin-right: auto;
            }
        }
    }
}