<div class='total'>{{count_total}} פניות במערכת</div>
<div class='info'>
<span>
<img src='assets/img/tip.svg'/>
</span>
<span>לחיצה על כל אחת מהכותרות הללו תפעיל סינון לסוג שנבחר</span>
</div>
<div class='counter'>
<span class='number'>{{count_new}}</span>
<span class='text' [class.active]='filter === null' (click)='setFilter(null)'>
<label>פניות חדשות</label>
<i class="fas fa-chevron-left"></i>
<i class="fas fa-times"></i>
</span>
</div>
<div class='counter'>
<span class='number'>{{count_active}}</span>
<span class='text' [class.active]='filter === "active"' (click)='setFilter("active")'>
<label>פניות בטיפול</label>
<i class="fas fa-chevron-left"></i>
<i class="fas fa-times"></i>
</span>
</div>
<div class='counter'>
<span class='number'>{{count_done}}</span>
<span class='text' [class.active]='filter === "done"' (click)='setFilter("done")'>
<label>פניות שהטיפול בהן הושלם</label>
<i class="fas fa-chevron-left"></i>
<i class="fas fa-times"></i>
</span>
</div>