<table>
  <thead>
    <tr>
      <th i18n>שם מלא</th>
      <th i18n>סטטוס</th>
      <th i18n>משימות פתוחות</th>
      <th i18n>שפה</th>
      <th i18n>מושא התלונה</th>
      <th i18n>מוקדנ/ית</th>
      <th i18n>התקבל</th>
      <th i18n>עודכן לאחרונה</th>
    </tr>
  </thead>
  <tbody>
    <ng-container *ngFor='let report of visibleReports'>
      <tr>
          <td (click)='select(report)' class='name'>{{report.full_name}}</td>
          <td>
            <app-status-widget [report]='report'></app-status-widget>
          </td>
          <td>{{num_open_tasks(report)}}</td>
          <td>{{report.language || 'עברית'}}</td>
          <td>{{report.offender}}</td>
          <td>{{report.agent? report.agent.username: ''}}</td>
          <td [title]='report.created_at'>{{humanize(report.created_at)}}</td>
          <td [title]='report.updated_at'>{{humanize(report.updated_at)}}</td>
      </tr>
    </ng-container>
  </tbody>
</table>

