<div [class.oneLine]='oneLine' [class.active]='active' >
  <span class='label'>
    <ng-content select='label'></ng-content>
    <span class='edit-button' (click)='edit()'></span>
  </span>
  <span class='static'>
    <span [innerHTML]='report[field] | nl2br' *ngIf='report[field]'></span>
    <span *ngIf='!report[field]' class='empty'>אין מידע</span>
    <span class='edit-button' (click)='edit()'></span>
  </span>
  <span class='edit'>
    <input #textInput *ngIf='!text' type='text' [(ngModel)]='report[field]'/>
    <textarea #textArea *ngIf='text' [(ngModel)]='report[field]'></textarea>
  </span>
</div>