<app-side-pane>
  <div class='header'>
    <span i18n>
      דיווח על מקרי גזענות ממסדית
    </span>
  </div>
  <div class='content'>
    <div class='profile'>
      <div class='user-basic'>
        <span class='right'><img [src]='avatar_url'></span>
        <span class='left'>
          <span class='user-name'>{{profile.email}}</span>
          <span class='logout' (click)='api.logout()' i18n>התנתקות</span>
        </span>
      </div>
    </div>
    <app-system-status *ngIf='reports' [reports]='reports' (filtering)='filtering.emit($event)'></app-system-status>
  </div>
</app-side-pane>