:host {
    .task {
        max-width: 100%;
        margin: 15px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.08);
        background-image: radial-gradient(circle at 14% 0, #61ce9c, #6ddea1);
        padding: 10px 15px;
        color: #000000;
        &.complete {
            color: #888;
        }
        display: flex;
        flex-flow: row;
        
        .emblem {
            padding: 5px;
            font-size: 30px;
        }
        
        .content {
            border-right: 1px solid darken(#61ce9c, 30%);
            margin-right: 10px;
            padding-right: 15px;
            flex: 1 1 100%;
            .title {
                display: flex;
                flex-flow: row;
                align-items: center;
                margin-bottom: 10px;
                cursor: pointer;
                
                h1 {
                    font-size: 18px;
                    font-weight: 500;
                }    
            }
            
            .body {
                font-size: 18px;
                font-weight: 300;
                margin-bottom: 20px;
            }

            .footer {
                display: flex;
                flex-flow: row;
                align-items: center;
                justify-content: flex-end;

                > * {
                    width: 30%;
                    text-align: left;
                    font-size: 14px;

                    label {
                        margin-left: 5px;
                        font-weight: bold;
                    }
                }
            }

        }
    }
}