<div class='task' [class.complete]='task.complete'>
  <div class='emblem'>
    <ng-container *ngIf='task.complete' >
      <i class="checkbox far fa-check-square" (click)='mark_complete(false)'></i>
      <span i18n>הושלמה</span>
    </ng-container>
    <ng-container *ngIf='!task.complete' >
      <i class="checkbox far fa-square" (click)='mark_complete(true)'></i>
      <span i18n>פתוחה</span>
    </ng-container>
  </div>
  <div class='content'>
    <div class='title' *ngIf='!editTitle'>
      <h1 (click)='requestToggle()'>{{task.title}}<span class='edit-button' (click)='editTitle=true'></span></h1>
    </div>
    <div class='title' *ngIf='editTitle'>
      <textarea rows='3' [(ngModel)]='task.title' (blur)='editTitle=false' #titleEditor></textarea>
    </div>
    <div class='status'>
      <div class='date'>
        <label i18n>נוצרה:</label>
        <span>{{ humanize(task.created_at) }}</span>
      </div>
      <div class='date'>
        <label i18n>עודכנה:</label>
        <span>{{ humanize(task.updated_at) }}</span>
      </div>
    </div>
    <div class='body' *ngIf='open'>
      <ng-container *ngIf='content && !editDescription'>
        <p [innerHTML]='content'></p>
        <span class='edit-button' (click)='editDescription=true'></span>
      </ng-container>
      <ng-container *ngIf='editDescription'>
        <textarea rows='7' [(ngModel)]='task.description' (blur)='editDescription=false' #descriptionEditor></textarea>
      </ng-container>

      <div class='updates'>
        <app-single-task-update [update]='update' *ngFor='let update of task.updates'></app-single-task-update>
        <div class='new-update'>
          <textarea rows='1' placeholder='השארת עדכון' i18n i18n-placeholder [(ngModel)]='updateContent'></textarea>
          <button class='send' (click)='addUpdate()'></button>
        </div>
      </div>
    </div>
    <div class='footer' [class.open]='open' (click)='requestToggle()'>
      <i class="fas fa-chevron-up" *ngIf='open'></i>
      <i class="fas fa-chevron-down" *ngIf='!open'></i>
    </div>
  </div>
</div>