<div class='container'>
  <div class='controls'>
    <span class='restart' (click)='restart_modal_active = true' i18n>אתחול שיחה</span>
  </div>
  <div class='chat'>
    <htl-hatool [content]='content'></htl-hatool>
  </div>
  <div class='modal-bg' *ngIf='restart_modal_active'>
    <div class='modal'>
      <h1 i18n>האם תרצו לאתחל את תהליך ההנחיה?</h1>
      <div class='buttons'>
        <span (click)='restart(); restart_modal_active = false'>כן</span>
        <span (click)='restart_modal_active = false'>לא</span>
      </div>
      <h2 i18n>חשוב! לחיצה על ״כן״ עלולה לגרום למידע שנשמר להמחק</h2>
    </div>
  </div>
</div>

<span class='placeholder-tx' i18n #uploadFileText>לחצ/י לבחירת קובץ</span>
<span class='placeholder-tx' i18n #uploadedFileText>קובץ הועלה בהצלחה</span>
<span class='placeholder-tx' i18n #notUploadedFileText>תקלה בהעלאת קובץ</span>
<span class='placeholder-tx' i18n #inputPlaceholder>הקלידו הודעה...</span>