<div class='current'  (click)='toggle($event)'>
  <span class='new' *ngIf='report.status !== "active" && report.status !== "done"'>
    <span class='circle'></span>
    <span i18n>פניה חדשה</span>
    <i class="fas fa-caret-down"></i>
  </span>
  <span class='active' *ngIf='report.status === "active"'>
    <span class='circle'></span>
    <span i18n>בטיפול</span>
    <i class="fas fa-caret-down"></i>
  </span>
  <span class='done' *ngIf='report.status === "done"'>
    <span class='circle'></span>
    <span i18n>הטיפול הושלם</span>
    <i class="fas fa-caret-down"></i>
  </span>
</div>
<div class='dropdown' [class.show]='show'>
  <span class='new' *ngIf='report.status === "active" || report.status === "done"' (click)='select("new")'>
    <span class='circle'></span>
    <span i18n>פניה חדשה</span>
  </span>
  <span class='active' *ngIf='report.status !== "active"' (click)='select("active")'>
    <span class='circle'></span>
    <span i18n>בטיפול</span>
  </span>
  <span class='done' *ngIf='report.status !== "done"' (click)='select("done")'>
    <span class='circle'></span>
    <span i18n>הטיפול הושלם</span>
  </span>
</div>